.idea/
.vscode/
cmake-build-*/

# npm dependencies
node_modules/

# temporary build folders, downloads, etc..
cache/

# packages ignores
packages/auph/js/
packages/app/js/
plugins/firebase/web/dist/
plugins/firebase/web/lib/

# examples build folders (TODO: use single folder)
build/
export/

# flash files backup
RECOVER_*.fla
