.idea/
.vscode/
cmake-build-*/

# npm dependencies
node_modules/

# temporary build folders, downloads, etc..
cache/

# packages ignores
packages/audio/js/
packages/app/js/
plugins/firebase/js/

# examples build folders (TODO: use single folder)
examples/*/build/
examples/*/export/

# flash files backup
RECOVER_*.fla
